* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    text-align: center;
}

.car-img {
    width: 20%;
    margin: 540px 0 25px 0;
}

h2 {
    font-size: 120px;
    margin: 0 0 25px 0;
}

p {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 35px 0;
}

button {
    font-size: 30px;
    padding: 10px 35px 10px 35px;
    background-color: lightblue;
    border: none;
    margin-bottom: 8px;
}